.form-spacing-top {
	margin-top: 30px;
}

.btn-h1-spacing{
	margin-top: 20px;
}

.inverse-label{
	background-color: brown;
	color: lightgrey;
	padding-top: 10px;
	padding-bottom:  10px; 
}

/*.hr-color{
	border-color: black;
}*/